hcloud_token = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

location_list                   = ["fsn1", "nbg1", "hel1"]
instances_coolify_worker        = "1"
instances_coolify_controler     = "2"
server_type_coolify_worker      = "cx21"
server_type_coolify_controler   = "cx21"
os_type                         = "debian-12"
public_net                      = true

